.outline {
    outline: 1px solid red;
}

.outline2 {
    outline: 1px solid green;
}

.outline3 {
    outline: 1px solid purple;
}

.outline4 {
    outline: 1px solid blue;
}

.outline5 {
    outline: 1px solid yellow;
}

/*---COLORS---*/

.collor {
    color: lightgrey;
}

.font-green {
    color: rgb(116,160,0)
}

.font-red {
    color: rgb(235, 42, 0)
}

.font-yellow {
    color: rgb(255, 221, 146)
}

/*----FONTS----*/

.font1 {
    font-family: "chalkduster";
}

.font2 {
    font-family: "system-ui";
}

.font3 {
    font-family: "amber-whiskey-aged-regular";
}

@font-face{
    font-family: "amber-whiskey-aged-regular";
    src: url("/src/assets/AmberWhiskey.otf");
}

/*----NAVIGATION----*/

.bob-background {
    background-image: url("/src/assets/images/background.png");
    background-size: cover;
    height: 100%;
    
}

@media (min-width: 576px) {
    .navbar-brand {
        display: none;
    }
}

@media (max-width: 576px) {
    .navbar-dark,
    .navbar-toggler {
        border-color: rgba(255,255,255,0)!important
    }
}

.bookatable-btn {
    width: 21%;
    position: absolute;
    top: 65%;
    bottom: 30%;
    left: 52%;
    right: 0;
    margin: auto;
    font-size: 1.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}