.main-background {
    background: url("../assets/images/background.png");
    background-size: cover;
    height: 100%;
}

/*---COLORS---*/

.border-grey {
    border: 1px solid grey;
}

.italy-btn-green {
    border-color: rgb(116,160,0);
}

.italy-btn-green:hover {
    background-color: rgb(32,105,0);
    border-color: rgb(32,105,0);
    color: white;
}

.italy-btn-red:hover {
    background-color: rgb(116,160,0);
    color: white;
}

.button-green {
    color: white;
    background-color: rgb(116,160,0);
}

.button-red {
    color: white;
    background-color: rgb(180, 42, 0);
}

.font-green {
    color: rgb(116,160,0);
}

/*----FONTS----*/

.nova {
    font-family: regulator-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nova300 {
    font-family: regulator-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nova600 {
    font-family: regulator-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.farm {
    font-family: charcuterie-etched, sans-serif;
}

/*----MEDIA Qs----*/

@media (max-width: 576px) {
    .navbar-dark,
    .navbar-toggler {
        border-color: rgba(255,255,255,0)!important
    }
}

@media (min-width: 576px) {
    .fontsizer {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        display: none;
    }
}

@media (min-width: 992px) {
    .fontsizer {
        font-size: 1.3rem;
    }
    .menu-fontsizer {
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {
    .fontsizer {
        font-size: 1.5rem;
    }
}

.bookatable-btn {
    width: 19%;
    position: absolute;
    top: 65%;
    bottom: 30%;
    left: 52%;
    right: 0;
    margin: auto;
    font-size: 1.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 0;
}

.g-map-fix {
    height: 65vh;
}

.text-shadow {
    text-shadow:1px 1px black;
}

.michelin-size {
    height: 7rem;
}