/*---BACKGROUND COLORS---*/

.background1 {
    background-color: grey;
}

.background2 {
    background-color: purple;
}

.background3 {
    background-color: yellowgreen;
}

.background4 {
    background-color: lightgreen;
}

.background5 {
    background-color: lightskyblue;
}

/*---OUTLINES---*/

.outline {
    outline: 1px solid red;
}

.outline2 {
    outline: 1px solid green;
}

.outline3 {
    outline: 1px solid purple;
}

.outline4 {
    outline: 1px solid blue;
}

.outline5 {
    outline: 1px solid yellow;
}

/*---COLORS---*/

.font-green {
    color: rgb(116,160,0);
}

.button-green {
    color: rgb(116,160,0);
    border-color: rgb(116,160,0);
}

.font-red {
    color: rgb(235, 42, 0);
}

.font-yellow {
    color: rgb(255, 221, 146);
}

.border-grey {
    border: 1px solid grey;
}

/*----FONTS----*/

.font1 {
    font-family: "chalkduster";
}

.font2 {
    font-family: "system-ui";
}

.font3 {
    font-family: "amber-whiskey-aged-regular";
}

.farm {
    font-family: charcuterie-etched, sans-serif;
}

.nova {
    font-family: regulator-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nova300 {
    font-family: regulator-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nova600 {
    font-family: regulator-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: "amber-whiskey-aged-regular";
    src: url("/src/assets/fonts/AmberWhiskey.otf");
}

/*----BACKGROUNDS----*/

.bobbackground {
    background: url("../assets/images/background.jpg");
    background-size: cover;
    height: 100%;
}

/*----MEDIA Qs----*/

@media (min-width: 768px) {
    .navbar-brand {
        display: none;
    }
}

@media (max-width: 576px) {
    .navbar-dark,
    .navbar-toggler {
        border-color: rgba(255,255,255,0)!important
    }
}

@media (min-width: 576px) {
    .fontsizer {
        font-size: 1.5rem;
    }
}

@media (min-width: 996px) {
    .fontsizer {
        font-size: 1.8rem;
    }

    .menu-fontsizer {
        font-size: 1.3rem;
    }
}

.bookatable-btn {
    width: 19%;
    position: absolute;
    top: 65%;
    bottom: 30%;
    left: 52%;
    right: 0;
    margin: auto;
    font-size: 1.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 0;
}

.map-fixi {
    height: 65vh;
}